<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/servlets</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
        <property name="hibernate.default_schema">hiber</property>

        <mapping resource="models/Item.cfg.xml" />
    </session-factory>
</hibernate-configuration>